# Core
streamlit
python-dotenv
pydantic
langgraph

# Transcription
openai-whisper
yt-dlp

# ML & Embeddings
torch
sentence-transformers
numpy

# Vector DB
qdrant-client

# LLM
openai

# Utilities
tqdm
